@media screen and (max-width:1600px) {
  header {
    width: 100%;
    position: relative;
    height: 80px;
  }

  header h1 {
    width: 200px;
    height: 40px;
    background-image: url(../img/logo2.png);
    top: 20px;
    left: 20px;
    margin-left: 0;
  }

  nav {
    width: 100%;
    margin-left: 0;
  }

  #gnb {
    top: 20px;
    right: 200px;
  }

  #gnb li {
    float: left;
  }

  .sns-set {
    right: 20px;
    bottom: 20px;
    left: auto;
  }

  section {
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width:639px) {
  nav {
    display: none;
  }
}

@media screen and (max-width:1024px) {
  #gnb {
    right: 20px;
  }

  .sns-set {
    display: none;
  }
}

@media screen and (min-width:1024px) and (max-width:1279px) {

  article {
    width: 25%;
  }

  article:nth-child(1) {
    width: 75%;
  }

  article:nth-child(2) {
    width: 25%;
  }

  article:nth-child(6) {
    width: 50%;
  }

  article:nth-child(7) {
    width: 50%;
  }

  article:nth-child(9) {
    width: 25%;
  }

  article:nth-child(10) {
    width: 50%;
  }
}

@media screen and (min-width:780px) and (max-width:1023px) {

  #gnb a {
    padding: 8px 10px;
  }

  article {
    width: 33.33%
  }

  article:nth-child(1) {
    width: 100%;
    height: 400px;
  }

  article:nth-child(2) {
    width: 66.66%;
  }

  article:nth-child(4) {
    display: none;
  }

  article:nth-child(6) {
    width: 66.66%;
  }

  article:nth-child(7) {
    display: none;
  }

  article:nth-child(9) {
    width: 33.33%;
  }

  article:nth-child(10) {
    display: none;
  }

  article:nth-child(12) {
    display: none;
  }
}

@media screen and (min-width:640px) and (max-width:779px) {

  #gnb a {
    padding: 8px 10px;
  }

  article {
    width: 25%;
  }

  article:nth-child(1) {
    width: 100%;
    height: 400px;
  }

  article:nth-child(2) {
    width: 100%;
  }

  article:nth-child(3) {
    display: none;
  }

  article:nth-child(4) {
    display: none;
  }

  article:nth-child(5) {
    width: 50%;
  }

  article:nth-child(6) {
    width: 50%;
  }

  article:nth-child(7) {
    display: none;
  }

  article:nth-child(8) {
    width: 50%;
  }

  article:nth-child(9) {
    width: 50%;
  }

  article:nth-child(10) {
    display: none;
  }

  article:nth-child(11) {
    width: 50%;
  }

  article:nth-child(12) {
    width: 50%;
  }
}


@media screen and (min-width:480px) and (max-width:639px) {

  header {
    width: 100%;
    height: 130px;
  }

  header h1 {
    position: relative;
    height: 45px;
    top: 20px;
    margin: 0 auto;
    left: 0;
  }

  #gnb {
    width: 100%;
    top: 80px;
    height: 80px;
    right: 0;
  }

  #gnb li {
    width: 25%;
  }

  #gnb a {
    padding: 4px;
    text-align: center;
  }

  article:nth-child(1) {
    width: 100%;
    height: 300px;
  }

  article:nth-child(2) {
    width: 100%;
  }

  article:nth-child(3) {
    display: none;
  }

  article:nth-child(4) {
    display: none;
  }

  article:nth-child(5) {
    width: 50%;
  }

  article:nth-child(6) {
    width: 50%;
  }

  article:nth-child(7) {
    display: none;
  }

  article:nth-child(8) {
    width: 50%;
  }

  article:nth-child(9) {
    width: 50%;
  }

  article:nth-child(10) {
    display: none;
  }

  article:nth-child(11) {
    width: 50%;
  }

  article:nth-child(12) {
    width: 50%;
  }
}

@media screen and (max-width:479px) {
  article {
    display: none;
  }

  header {
    position: fixed;
    width: 100%;
    height: 100px;
    z-index: 99;
    background: transparent;
  }

  article:nth-child(1) {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
  }

  header h1 {
    top: 20px;
    width: 171px;
    left: 50%;
    margin-left: -70px;
    background-image: url(../img/logo1.png);
    background-size: cover;
    height: 130px;
  }

  #gnb {
    top: 200px;
    width: 250px;
    right: 50%;
    margin-right: -125px;
  }

  #gnb li {
    float: none;
  }

  #gnb a {
    background: #000;
    opacity: 0.5;
    color: #fff;
    margin: 8px 0;
    border-radius: 10px;
  }
}

/* 
article {
  width: 25%;
}

article:nth-child(1) {
  width: 75%;
}

article:nth-child(2) {
  width: 25%;
}

article:nth-child(3) {
  background: #777;
}

article:nth-child(4) {
  background: #666;
}

article:nth-child(5) {
  background: #555;
}

article:nth-child(6) {
  width: 50%;
}

article:nth-child(7) {
  width: 50%;
}

article:nth-child(8) {
  background: #222;
}

article:nth-child(9) {
  width: 25%;
}

article:nth-child(10) {
  width: 50%;
}

article:nth-child(11) {
  background: #ddd;
}

article:nth-child(12) {
  background: #ccc;
} */